{% extends "base.html.twig" %}
{% block body %}
<div>    
   <div class="text-center">
       <h3>Books search api</h3>
 
       <div class="jumbotron text-center">
          Developed with:<br/>
          Symfony 4.0.8<br/>
          Vuejs<br />
       </div>
   </div>
   {% verbatim %}
    <div id="app">
        <div style="text-align: center">
            <span>Search by title and author  </span>
            <input v-model="term" type="search" title="Type ### to get all volumes">
            <button @click="search">Search</button>
        </div>
        
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    <span title="Click to sort" @click="sort('name')">Name</span>
                </th>
                <th>
                    <span title="Click to sort" @click="sort('author')">Author</span>
                </th>
                <th>
                    Description
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(volume, $index) in volumesSorted">
                <td>
                    <span title="Press to see details" id="show-modal" @click="modalOpen($index)"> {{ volume.name }} </span>
                </td>
                <td>
                    {{ volume.author }}
                </td>
                <td>
                    {{ volume.description }}
                </td>
            </tr>
            </tbody>
        </table>
        
        <div style="text-align: center; cursor: pointer;" class="noselect">
            <span @click="prevPage">&lt; &lt;</span> 
            <span>&nbsp; {{currentPage}} &nbsp;</span>
            <span @click="nextPage">&gt; &gt;</span>
        </div>
        
        <my-volume v-if="active>=0" :show="showModal" :volumeslist="volumesSorted[active]" :active="active" @hide="showModal=false; active=-1;"></my-volume>
   
    </div>
    
 </div>   
    
    <template id="volume-info">
        <div  class="modal-mask" v-show="show" transition="modal" aria-hidden="true" role="dialog" aria-labelledby="modalTitle" aria-describedBy="modalDescription" style="border: 2px solid black;">
          <div class="modal-container">
          <h4>{{ volumeslist.name }}</h4>
          
          <img :src="volumeslist.image" height="300px" width="200px"/>
          
          <p>
              {{ volumeslist.author }}
          </p>
          
          <p>
              {{ volumeslist.description }}
          </p>
          
           <span  class="modal-default-button"
                    @click="setModalClose">
                    Close X
                  </span>
        
            </div>
        </div>
    </template>
   
   {% endverbatim %}


{% endblock %}